/* PRODUCT CHILD HERO */
.comp_product_child_hero .column__left {
  width: 502px;
}
.comp_product_child_hero .column__left .img__wrap {
  width: 331px;
  height: 604px;
  display: flex;
  overflow: hidden;
  margin: auto;
  border-radius: 120px;
}
.comp_product_child_hero .column__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp_product_child_hero .column__right {
  width: 66.1%;
  margin-left: auto;
}
.comp_product_child_hero .top__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 105px;
}

.comp_product_child_hero .top__info .mobile__image {
  display: none;
}
.comp_product_child_hero .top__info .title__block {
  width: 350px;
}
.comp_product_child_hero .top__info .title__block .headline__text {
  line-height: 1;
  margin-bottom: 67px;
}
.comp_product_child_hero .top__info .title__block .site__button {
  max-width: 268px;
  min-width: auto;
  cursor: pointer;
}
.comp_product_child_hero .top__info .title__block .site__button.enquireNowBtn {
  margin-top: 20px;
}
.comp_product_child_hero .top__info .desc__block {
  width: 566px;
  margin-left: auto;
}
.comp_product_child_hero .top__info .desc__block label {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: #3c3c3c;
  margin-bottom: 71px;
  display: block;
}
.comp_product_child_hero .top__info .desc__block .part2 {
  display: none;
}
.comp_product_child_hero .top__info .desc__block p.open .part2 {
  display: block;
  margin-top: 25px;
}
.comp_product_child_hero .top__info .desc__block .readmore {
  display: flex;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: -0.45px;
  text-decoration: underline;
  margin-top: 26px;
}
.comp_product_child_hero .top__info .desc__block .readmore .icon {
  width: 17px;
  height: 15px;
  margin-left: 7px;
}
.comp_product_child_hero .top__info .desc__block p.open .readmore .icon {
  transform: rotate(180deg);
}
.comp_product_child_hero .top__info .desc__block .readmore .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.comp_product_child_hero .data__info .plank__variations {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color1);
  padding-top: 20px;
}
.comp_product_child_hero .data__info .plank__variations label,
.comp_product_child_hero .data__info .data__item label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: #3c3c3c;
  margin-bottom: 41px;
}
.comp_product_child_hero .data__info .plank__variations .plank__item {
  width: calc(33.33% - 10px);
  margin-right: 15px;
  padding-bottom: 45px;
}
.comp_product_child_hero .data__info .plank__variations .plank__item:nth-of-type(3n) {
  margin-right: 0px;
}
.comp_product_child_hero .data__info .plank__variations .plank__item .name,
.comp_product_child_hero .data__info .data__item .value {
  display: block;
  font-size: 30px;
  letter-spacing: -0.75px;
}
.comp_product_child_hero .data__info .plank__variations .plank__item .desc {
  font-size: 16px;
  letter-spacing: -0.4px;
  margin-top: 6px;
  display: block;
}
.comp_product_child_hero .data__info .other__data {
  display: flex;
  flex-wrap: wrap;
}
.comp_product_child_hero .data__info .other__data .data__item {
  width: calc(50% - 15px);
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  padding-top: 20px;
  padding-bottom: 46px;
  margin-top: -1px;
}
.comp_product_child_hero .data__info .other__data .data__item:nth-child(even) {
  margin-left: auto;
}
@media all and (max-width: 1599px) {
  .comp_product_child_hero .column__left {
    width: 30%;
  }
  .comp_product_child_hero .column__left .img__wrap {
    width: 20.5vw;
    height: 37.7vw;
    border-radius: 7.5vw;
  }
  .comp_product_child_hero .column__right {
    width: 70%;
  }
  .comp_product_child_hero .top__info .desc__block {
    width: calc(100% - 350px);
  }
}
@media all and (max-width: 1299px) {
  .comp_product_child_hero .top__info {
    margin-bottom: 75px;
  }
  .comp_product_child_hero .top__info .title__block {
    width: 300px;
  }
  .comp_product_child_hero .top__info .desc__block {
    width: calc(100% - 300px);
  }
}
@media (max-width: 979px) {
  .comp_product_child_hero .column__left {
    width: auto;
  }
  .comp_product_child_hero .column__right {
    width: 73%;
  }
  .comp_product_child_hero .top__info .title__block .headline__text {
    margin-bottom: 30px;
  }
  .comp_product_child_hero .top__info .desc__block {
    width: 100%;
    margin-top: 50px;
  }
  .comp_product_child_hero .top__info .desc__block label {
    margin-bottom: 30px;
  }
  .comp_product_child_hero .top__info {
    margin-bottom: 50px;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item .name,
  .comp_product_child_hero .data__info .data__item .value {
    font-size: 25px;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item .desc {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .comp_product_child_hero .data__info .plank__variations label,
  .comp_product_child_hero .data__info .data__item label {
    margin-bottom: 20px;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item {
    padding-bottom: 30px;
  }
  .comp_product_child_hero .data__info .other__data .data__item {
    padding-bottom: 30px;
  }
}
@media all and (max-width: 767px) {
  .comp_product_child_hero .top__info .mobile__image {
    display: flex;
    width: 30.5vw;
    height: 55vw;
    border-radius: 12vw;
    overflow: hidden;
  }
  .comp_product_child_hero .column__left {
    display: none;
  }
  .comp_product_child_hero .column__right {
    width: 100%;
  }
  .comp_product_child_hero .top__info .title__block {
    width: calc(100% - 30.5vw);
    padding-left: 5vw;
    margin-top: 4vw;
  }
  .comp_product_child_hero .top__info .title__block .site__button {
    padding: 0 20px;
  }
  .comp_product_child_hero .top__info .title__block .site__button.enquireNowBtn {
    margin-top: 10px;
  }
  .comp_product_child_hero .top__info .desc__block {
    width: 100%;
    margin-top: 30px;
  }
}
@media all and (max-width: 480px) {
  .comp_product_child_hero .top__info .title__block .site__button {
    padding: 0 14px;
    letter-spacing: 0.5px;
  }
  .comp_product_child_hero .top__info .title__block .site__button .icon {
    display: none;
  }
  .comp_product_child_hero .top__info .title__block .site__button .text {
    width: 100%;
    text-align: center;
  }
  .comp_product_child_hero .top__info {
    margin-bottom: 30px;
  }
  .comp_product_child_hero .top__info .desc__block label {
    margin-bottom: 20px;
  }
  .comp_product_child_hero .top__info .desc__block p {
    font-size: 15px;
  }
  .comp_product_child_hero .top__info .desc__block p .readmore {
    font-size: 15px;
    margin-top: 15px;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item .name,
  .comp_product_child_hero .data__info .data__item .value {
    font-size: 20px;
    line-height: 1.2;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item {
    width: calc(50% - 10px);
    margin-right: 0 !important;
    padding-bottom: 20px;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item:nth-of-type(even) {
    margin-left: auto;
  }
  .comp_product_child_hero .data__info .plank__variations .plank__item .desc {
    font-size: 13px;
    line-height: 1.2;
  }
  .comp_product_child_hero .data__info .other__data .data__item {
    padding-bottom: 20px;
    width: calc(50% - 10px);
  }
  .comp_product_child_hero .data__info .plank__variations label,
  .comp_product_child_hero .data__info .data__item label {
    margin-bottom: 15px;
  }
}