/* HOME PROJECT SLIDER */
.comp_home_project_slider .row--heading .data__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
}
.comp_home_project_slider .row--heading .data__wrap .headline__text {
  width: calc(50% - 20px);
}
.comp_home_project_slider .row--heading .data__wrap .desc__block {
  width: calc(50% - 20px);
  margin-left: auto;
  max-width: 428px;
}
.comp_home_project_slider .row--heading .data__wrap .desc__block .site__button {
  min-width: auto;
  width: 100%;
  max-width: 292px;
  margin-top: 84px;
}
.comp_home_project_slider .row--projects {
  margin-top: -62px;
}
.comp_home_project_slider .projects__slider .slick-list {
  padding-top: 145px;
}
.comp_home_project_slider .projects__slider .item {
  display: flex;
  flex-wrap: wrap;
}
.comp_home_project_slider .projects__slider .item .img__wrap {
  width: calc(75.5% - 15px);
  height: 750px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 500ms 500ms var(--easing);
}
.comp_home_project_slider .projects__slider .item.slick-current.slick-active .img__wrap {
  opacity: 1;
  transform: translateX(0px);
}
.comp_home_project_slider .projects__slider .item .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp_home_project_slider .projects__slider .item .data__wrap {
  width: calc(24.5% - 15px);
  margin-left: auto;
  position: relative;
}
.comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap {
  display: flex;
  width: 100%;
  height: 416px;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms 700ms var(--easing);
}
.comp_home_project_slider .projects__slider .item.slick-current.slick-active .data__wrap .finish__wrap {
  opacity: 1;
  transform: translateY(0);
}
.comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color1);
  z-index: 0;
  opacity: 0.05;
}
.comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap label.name {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.2px;
  bottom: 35px;
  left: 30px;
  z-index: 1;
}
.comp_home_project_slider .projects__slider .item .data__wrap .project__info {
  position: absolute;
  top: -145px;
  left: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms 900ms var(--easing);
}
.comp_home_project_slider .projects__slider .item.slick-current.slick-active .data__wrap .project__info {
  opacity: 1;
  transform: translateY(0px);
}
.comp_home_project_slider .projects__slider .item .data__wrap .project__info label {
  display: block;
  font-size: 30px;
  letter-spacing: -0.75px;
  line-height: 1.5;
}
.comp_home_project_slider .projects__slider .item .data__wrap .project__info a {
  display: block;
  letter-spacing: -0.45px;
  display: flex;
  align-items: center;
}
.comp_home_project_slider .projects__slider .item .data__wrap .project__info a .icon {
  display: flex;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  transition: all 200ms var(--easing);
}
.comp_home_project_slider .projects__slider .item .data__wrap .project__info a .icon svg {
  width: 100%;
  height: 100%;
}
.comp_home_project_slider .projects__slider .item .data__wrap .project__info a:hover .icon {
  transform: translate(3px, -3px);
}
.comp_home_project_slider .row--projects .slick__navs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(24.5% - 15px);
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap {
  display: flex;
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap button {
  width: 25%;
  height: 214px;
  transition: all 300ms 200ms var(--easing);
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap button.next-arrow {
  width: calc(75% - 45px);
  margin-left: auto;
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap button svg {
  fill: #D6D6D6;
  width: 100%;
  height: 100%;
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap button:hover {
  transform: translateX(-5px);
  transition: all 300ms var(--easing);
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap button.next-arrow:hover {
  transform: translateX(5px);
}
.comp_home_project_slider .row--projects .slick__navs .arrows__wrap button.next-arrow svg {
  fill: var(--color1);
}
.comp_home_project_slider .row--projects .slick__navs .dots__wrap {
  position: absolute;
  bottom: -3px;
  left: -3px;
  font-size: 20px;
  letter-spacing: -0.5px;
}
.comp_home_project_slider .row--projects .slick__navs .dots__wrap ul {
  margin-top: 0;
}
.comp_home_project_slider .row--projects .slick__navs .dots__wrap li {
  display: none;
  margin: 0;
  line-height: 1;
}
.comp_home_project_slider .row--projects .slick__navs .dots__wrap li.slick-active {
  display: block;
}
@media all and (max-width: 1599px) {
  .comp_home_project_slider .row--heading .data__wrap {
    max-width: none;
    width: 60%;
  }
  .comp_home_project_slider .projects__slider .item .img__wrap {
    width: calc(70% - 15px);
    height: 48vw;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap {
    width: calc(30% - 15px);
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap {
    height: 27vw;
  }
  .comp_home_project_slider .row--projects .slick__navs {
    width: calc(30% - 15px);
  }
  .comp_home_project_slider .row--projects .slick__navs .arrows__wrap button {
    height: 16vw;
  }
}
@media all and (max-width: 1199px) {
  .comp_home_project_slider .row--heading .data__wrap .desc__block .site__button {
    margin-top: 50px;
  }
}
@media all and (max-width: 979px) {
  .comp_home_project_slider .row--heading .data__wrap {
    width: 70%;
  }
  .comp_home_project_slider .row--heading .data__wrap .headline__text,
  .comp_home_project_slider .row--heading .data__wrap .desc__block {
    width: 100%;
    margin-left: 0;
  }
  .comp_home_project_slider .row--heading .data__wrap .headline__text {
    margin-bottom: 30px;
  }
  .comp_home_project_slider .row--heading .data__wrap .desc__block .site__button {
    margin-top: 30px;
  }
  .comp_home_project_slider .projects__slider .slick-list {
    padding-top: 100px;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .project__info {
    top: -100px;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .project__info label {
    font-size: 26px;
    letter-spacing: -0.5px;
    line-height: 1;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 767px) {
  .comp_home_project_slider .row--heading .data__wrap {
    width: 65%;
  }
  .comp_home_project_slider .row--heading .data__wrap .desc__block .site__button {
    max-width: 250px;
  }
  .comp_home_project_slider .projects__slider .item .img__wrap {
    width: calc(65% - 5px);
    height: 48vw;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap {
    width: calc(35% - 5px);
  }
  .comp_home_project_slider .row--projects .slick__navs .dots__wrap {
    bottom: 0px;
    left: 0px;
    font-size: 16px;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap label.name {
    font-size: 12px;
    letter-spacing: 0.5px;
    bottom: 15px;
    left: 15px;
    z-index: 1;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .project__info label {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1;
    margin-bottom: 5px;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .project__info {
    top: -85px;
  }
  .comp_home_project_slider .row--projects .slick__navs {
    width: calc(35% - 5px);
  }
  .comp_home_project_slider .row--projects .slick__navs .arrows__wrap {
    margin-bottom: 15px;
  }
  .comp_home_project_slider .row--projects .slick__navs .arrows__wrap button.next-arrow {
    width: calc(75% - 25px);
  }
}
@media all and (max-width: 480px) {
  .comp_home_project_slider .row--heading .data__wrap {
    width: 100%;
  }
  .comp_home_project_slider .row--heading .data__wrap .headline__text {
    margin-bottom: 20px;
  }
  .comp_home_project_slider .row--heading .data__wrap .desc__block .site__button {
    margin-top: 20px;
  }
  .comp_home_project_slider .row--projects {
    margin-top: 20px;
  }
  .comp_home_project_slider .projects__slider .slick-list {
    padding-top: 0;
  }
  .comp_home_project_slider .projects__slider .item .img__wrap {
    width: 100%;
    height: 59vw;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap {
    width: 45%;
    height: 35vw;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .finish__wrap label.name {
    font-size: 11px;
    letter-spacing: 0.5px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .project__info {
    position: relative;
    top: 0;
    width: calc(55% - 15px);
    margin-left: auto;
  }
  .comp_home_project_slider .projects__slider .item .data__wrap .project__info label {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
  .comp_home_project_slider .row--projects .slick__navs {
    position: relative;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
  }
  .comp_home_project_slider .row--projects .slick__navs .arrows__wrap {
    width: 40%;
    margin-left: auto;
  }
  .comp_home_project_slider .row--projects .slick__navs .arrows__wrap button {
    height: 15vw;
  }
  .comp_home_project_slider .row--projects .slick__navs .arrows__wrap button.next-arrow {
    width: calc(75% - 5px);
  }
  .comp_home_project_slider .row--projects .slick__navs .dots__wrap {
    position: relative;
    width: auto;
    font-size: 13px;
    letter-spacing: 1px;
  }
}