section#comp_blog_child_hero_1 {
    padding-top: 172px;
  }
  .blog-banner {
    overflow: hidden;
    min-height: 800px;
  }
  .blog-banner picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-banner .featured__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-banner.row::after {
    position: absolute;
    content: " ";
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
  }
  .info-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-top: auto;
    margin-right: 100px;
    margin-left: auto;
    max-width: 1250px;
    width: 65%;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .info-banner .headline__text {
    color: #fff;
    text-align: left;
    line-height: 1;
  }
  .headline-date {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-bottom: 50px;
  }
  @media all and (max-width: 1499px) {
    section#comp_blog_child_hero_1 {
      padding-top: 138px;
    }
    .blog-banner {
      min-height: 600px;
    }
  }
  @media all and (max-width: 1199px) {
    .info-banner {
      margin-top: auto;
      margin-right: auto;
      margin-left: auto;
      width: calc(100% - 60px);
      padding-top: 150px;
      padding-bottom: 70px;
    }
    .info-banner .headline__text {
      font-size: 90px;
    }
  }
  @media all and (max-width: 979px) {
    .info-banner .headline__text {
      font-size: 80px;
    }
  }
  @media all and (max-width: 767px) {
    section#comp_blog_child_hero_1 {
      padding-top: 120px;
    }
    .blog-banner {
      min-height: auto;
    }
    .info-banner {
      padding-bottom: 50px;
    }
    .info-banner .headline__text {
      font-size: 8vw;
    }
  }
  @media all and (max-width: 480px) {
    section#comp_blog_child_hero_1 {
      padding-top: 24vw;
    }
    .blog-banner {
      min-height: 450px;
    }
    .info-banner {
      padding-bottom: 50px;
      width: calc(100% - 40px);
    }
    .headline-date {
      margin-bottom: 30px;
    }
    .info-banner .headline__text {
      font-size: 10vw;
      line-height: 1.1;
    }
  }