/**
* BLOG CSS
**/

section#comp_blog_parent_1 {
    padding-top:130px !important;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.heading__title {
    font-size: 50px;
    width: 30%;
}

span.heading__description {
    width: 30%;
    font-size: 13px;
    line-height: 21px;
    padding: 4%;
}

.tail {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #333230;
}

.tail > div {
    width: 50%;
    border: 1px solid #333230;
    padding: 7px;
}

.filter__field--optionSelect {
    width: 25% !important;
}

.tail > div:nth-child(1), .filter-cat {
    border-right:none !important;
}

.tail label {
    text-transform: uppercase;
    font-size: 8px;
}

.seartch-container {
    display: flex;
}

input#blogFilterSearchField {
    width: 95%;
    border: none;
    outline: none;
}

button.searchBtn {
    background: none;
    border: none;
}

.select select {
    width: 100%;
    border: none;
    padding: 7px 0;
    font-size: 13px;
    color:#333230;
    outline: none;
}

button#loadmore {
    width: 100%;
    background: none;
    border: 1px solid #333230;
    padding: 9px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    color:#333230;
}

button#loadmore[disabled] {
    border: 1px solid #d4d6d6;
    color: #d4d6d6;
}

.articles__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.articles__wrapper  > div {
    width: 47%;
    margin-bottom: 4%;
}


.img_wrap {
    overflow: hidden;
}

.articles__wrapper > div img {
    max-width: 100%;
    transition: all 300ms var(--easing);
}

.articles__wrapper > div a:hover img {
    transform: scale(1.03);
}


.info-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

.info-top .excerpt, .info-bottom .action-btn {
    width: 55%;
}

.info-top .post__title, .info-bottom span {
    width: 75%;
    padding-right: 7%;
}

.info-top .excerpt {
    font-size: 13px;
    line-height: 21px;
}


.info-bottom {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
}

.info-bottom .post__cat {
    text-transform: uppercase;
    font-size: 10px;
    color: #9E9E9E;
}

.info-bottom .action-btn .site__button {
    width: 100% !important;
    min-width: inherit;
}

.site__button.site__button--arrow .text {
    width: 100% !important;
}

.site__button .icon {
    text-align: right;
    padding: 0;
}

@media(max-width:722px){

    
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .head span {
        width: 100%;
        padding: 10px 0;
    }
    .articles__wrapper {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .articles__wrapper > div {
        width: 100% !important;
    }
    
}
@media all and (max-width:480px) {
  .comp_blog_parent .filter__block .tail {
    flex-wrap: wrap;
  }
  .comp_blog_parent .filter__block .tail > .filter__field--optionSelect {
    width: 50% !important;
    border-top: none;
  }
  .comp_blog_parent .filter__block .filter__field--search {
    width: 100% !important;
    border-right: 1px solid var(--color1) !important;
  }
  
  .info-top {
      flex-direction: column;
      padding: 13px 0 8px;
   }
  .info-bottom {
    flex-direction: column;
    padding: 0 0 15px;
  }

  .info-top .post__title, .info-bottom span, .info-top .excerpt, .info-bottom .action-btn {
    width: 100%;
    padding: 0;
  }

  .post__cat {
    margin-bottom: 20px;
  }

  .info-top .excerpt { display:none !important; }
}