/* HOME HERO 1 */
.comp_home_hero_1 {
  height: 1150px;
}
.comp_home_hero_1 .data__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 196px;
  max-width: 1025px;
}
.comp_home_hero_1 .headline__text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.comp_home_hero_1 .headline__text span {
  width: 100%;
  display: block;
  margin-left: 257px;
  transition: all 2500ms var(--easing);
}
.comp_home_hero_1 .to_animate_manual .headline__text {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1200ms var(--easing);
}
.comp_home_hero_1 .to_animate_manual .headline__text span {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1200ms 200ms var(--easing);
}
.comp_home_hero_1 .to_animate_manual.elem_in_viewport .headline__text {
  opacity: 1;
  transform: translateX(0px);
}
.comp_home_hero_1 .to_animate_manual.elem_in_viewport .headline__text span {
  opacity: 1;
  transform: translateX(0px);
}
.comp_home_hero_1 .text__summary {
  width: 100%;
  display: block;
  margin-top: 22px;
  font-size: 20px;
  letter-spacing: -1px;
}
.comp_home_hero_1 .site__button {
  margin-left: 257px;
  margin-top: 52px;
  min-width: 244px;
}
.comp_home_hero_1 .text__summary,
.comp_home_hero_1 .site__button {
  margin-left: 257px;
}
.comp_home_hero_1 .scrolldownIcon {
  position: absolute;
  bottom: -3px;
}
@media all and (max-width: 1499px) {
  .comp_home_hero_1 {
    height: 65vw;
  }
  .comp_home_hero_1 .data__wrap {
    margin-top: 12vw;
    max-width: 58vw;
/*     background: red; */
  }
  .comp_home_hero_1 .headline__text {
    font-size: 7vw;
    letter-spacing: -0.1vw;
  }
  .comp_home_hero_1 .headline__text span {
    margin-left: 17vw;
  }
  .comp_home_hero_1 .text__summary,
  .comp_home_hero_1 .site__button {
    margin-left: 17vw;
  }
}
@media all and (max-width: 1299px) {
  .comp_home_hero_1 {
    height: 75vw;
  }
  .comp_home_hero_1 .data__wrap {
    margin-top: 15vw;
    max-width: 62vw;
  }
  .comp_home_hero_1 .headline__text {
    font-size: 8vw;
    letter-spacing: -0.1vw;
  }
  .comp_home_hero_1 .site__button {
    margin-top: 40px;
  }
}
@media all and (max-width: 979px) {
  .comp_home_hero_1 {
    height: 85vw;
  }
}
@media all and (max-width: 767px) {
  .comp_home_hero_1 {
    height: auto;
    padding-bottom: 75px;
  }
  .comp_home_hero_1 .row {
    flex-direction: column;
  }
  .comp_home_hero_1 .data__wrap {
    margin-top: 100px;
    max-width: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
  }
  .comp_home_hero_1 .headline__text {
    display: block;
    font-size: 12vw;
    letter-spacing: 0px;
    text-align: center;
    margin-left: -30px;
  }
  .comp_home_hero_1 .headline__text span {
    margin-left: 80px;
  }
  .comp_home_hero_1 .to_animate_manual .headline__text span {
    transform: translateX(-20px);
  }
  .comp_home_hero_1 .text__summary,
  .comp_home_hero_1 .site__button {
    text-align: center;
  }
  .comp_home_hero_1 .text__summary {
    margin: 50px auto 0;
    max-width: 360px;
  }
  .comp_home_hero_1 .site__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .comp_home_hero_1 .scrolldownIcon {
    position: relative;
    margin-top: 120px;
  }
}
@media all and (max-width: 480px) {
  .comp_home_hero_1 .data__wrap {
    margin-top: 20vw;
  }
  .comp_home_hero_1 .headline__text {
    font-size: 12vw;
    margin-left: -30px;
    letter-spacing: -0.5px;
    line-height: 1.1;
  }
  .comp_home_hero_1 .headline__text span {
    margin-left: 60px;
  }
  .comp_home_hero_1 .text__summary {
    margin: 30px auto 0;
  }
  .comp_home_hero_1 .site__button {
    min-width: 225px;
  }
  .comp_home_hero_1 .scrolldownIcon {
    margin-top: 25vw;
  }
}