#acf_site_delete_cache_btn {
	width: 150px;
	height: 50px;
	border-radius: 50px;
	border: none;
	background: #e9125d;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
  }
  .acf-flexible-content .values .layout {
	  background: #f1f1f1;
	  border: 5px solid #333230;
  }
  .acf-flexible-content .values .layout .acf-fc-layout-handle {
	  background: #333230;
	  color: #ffffff;
  }
  .acf-flexible-content .values .layout .acf-fc-layout-order {
	  background: #333230;
	  color: #ffffff;
	  border: 1px solid #ffffff;
  }
  .acf-icon.-collapse {
	background: none;
	  border: 1px solid #ffffff !important;
  }
  .acf-icon.-collapse:before {
	  color: #ffffff;
  }
  .acf-icon.-collapse:hover {
	  background: none;
	  border-color:  #ffffff;
  }
  
  .acfe-col-5 .acfe-flexible-layout-thumbnail {
	  height: 205px !important;
	  background-size: 121% auto;
  }
  input.acfe-flexible-control-title {
	  color: #fff;
  }
  .acfe-layout-title.acf-js-tooltip:hover {
	  background: #ffffff21 !important;
	  padding: 3px 10px;
  }
  
  /* START ACF REPEATER CARD STYLE */
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody {
	display: flex;
	flex-wrap: wrap;
  }
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row {
	width: calc(25% - 1px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #ffffff;
  }
  .acf-field.acf-field-repeater.card__style.card__style--3col > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row {
	width: calc(33% - 1px);
  }
  .acf-field.acf-field-repeater.card__style.card__style--2col > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row {
	width: calc(50% - 1px);
  }
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row:nth-child(4n) {
	border-right: 0px;
  }
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row > td {
	display: block;
	width: 100%;
	border: none;
	padding: 0;
  }
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row > td.acf-row-handle {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:#eaeaea;
	font-weight: bold;
	color: #333230;
  }
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row > td.acf-row-handle.remove {
	margin-top: auto;
  }
  .acf-field.acf-field-repeater.card__style > .acf-input > .acf-repeater > .acf-table  > tbody > .acf-row > td.acf-row-handle .acf-icon {
	margin: 0 5px;
	position: relative;
	top: 0;
  }
  /* END ACF REPEATER CARD STYLE */
  
  
  /* START ACF ACCORDION */
  .acf-field.acf-field-accordion .acf-accordion-title,
  .acf-field.acf-field-accordion .acf-accordion-title:hover {
	  background: #333230;
	  color: #ffffff;
  }