.pre, .athena { 
    position: relative;
    z-index: 1000; 
    border: solid 4px green;
    display: none;
}

.pre {
    padding: 1em;
    color: black;
    position: relative;
    z-index: 9999;
    background: #000000de;
    width: 50%;
    height: 100%;
    inset: 0;
    aspect-ratio: 1/5;
    margin: auto;
    overflow: scroll;
    max-height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
