* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
body {
  font-family: var(--fontfamily);
  font-size: var(--fontsize-desktop);
  font-weight: normal;
  color: var(--color-bodytext);
  width: 100%;
  height: 100%;
  background: var(--colorbodybg);
/*   background:yellow; */
  margin: 0;
  padding: 0;
  line-height: 1;
  /* overflow-x: hidden; */
}
input {
  font-family: var(--fontfamily);
  color: var(--color1);
}
input::placeholder {
  font-family: var(--fontfamily);
  color: var(--color1);
}
input::-webkit-input-placeholder {
  font-family: var(--fontfamily);
  color: var(--color1);
}
body.flyoutmenu__open {
  overflow: hidden;
}
#beforemain_wrap {
  position: relative;
  overflow: hidden;
  left: 0;
  transition: all 500ms var(--easing);
}
#beforemain_wrap:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color1);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms var(--easing);
}
button {
  font-family: var(--fontfamily);
  font-size: 20px;
  color: var(--color1);
}
.scrolldownIcon {
  outline: none;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  width: auto;
  height: fit-content;
  padding: 0;
  letter-spacing: 1px;
}
.scrolldownIcon .icon {
  width: 62px;
  height: 78px;
  margin-bottom: 19px;

  -webkit-animation: ca3_fade_move_down 4s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 4s ease-in-out infinite;
  animation:         ca3_fade_move_down 4s ease-in-out infinite;
}
.scrolldownIcon svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
::-webkit-scrollbar {
  background: transparent;
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--color1);
}
section {
  position: relative;
  z-index: 1;
  padding-top: 135px;
  padding-bottom: 135px;
}
section.compSection.compSection_1 {
  padding-top: 277px;
}
section .section__bgimage,
section .section__bgimage .overlay,
section .section__bgimage img {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}
section .section__bgimage {
  z-index: -1;
  overflow: hidden;
}
section .section__bgimage img {
  object-fit: cover;
}
section .section__bgimage .overlay {
  content: "";
  z-index: 0;
}
section.textcolor__white * {
  color: #fff !important;
  border-color: #fff !important;
}
section.compSection.section__topedge {
  padding-top: 140px;
}
.row {
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.row--full {
  max-width: 1920px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  font-family: var(--fontfamily);
  color: var(--color1);
  margin: 0;
  font-weight: normal;
}
h1,.h1,.headline__text.h1 {
  font-size: 130px;
  line-height: 0.92;
  letter-spacing: -3.25px;
}
h2,.h2,.headline__text {
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: -1.75px;
}
h3,.h3 {
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: -1.13px;
}
h4,.h4 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.75px;
}
h5,.h5 {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.63px;
}
a {
  text-decoration: none;
  color: var(--color1);
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  position: relative;
  padding-left: 40px;
  line-height: 2;
}
ul li:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 9px;
  height: 9px;
  background: var(--color1);
}
.slick-dots li {
  padding-left: 0;
}
.slick-dots li:before {
  display:none;
}
.nav__menu li {
  padding-left: 0;
  line-height: initial;
}
.nav__menu li:before {
  display: none;
}
p, .text__summary {
  margin: 0;
  line-height: 1.45;
  letter-spacing: -0.45px;
}
p:not(:last-of-type) {
  padding-bottom: 35px;
}
p.empty {
  padding: 0;
}
.slick-slider {
  width: 100%;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-arrow {
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  z-index: 10000;
  padding: 0;
  background: none;
  transition: all 200ms var(--easing);
}
.slick-arrow.style1 {
  font-size: 13px;
  letter-spacing: 1.3px;
  color: var(--color1);
  text-transform: uppercase;
}
.slick-arrow.style1 svg {
  width: 84px;
  height: 19px;
  transition: all 300ms var(--easing);
}
.slick-arrow.style1 svg path {
  fill: var(--color1);
}
.slick-arrow.style1.prev-arrow .text {
  margin-left: 35px;
}
.slick-arrow.style1.next-arrow .text {
  margin-right: 27px;
}
.slick-arrow.style1.prev-arrow:hover svg {
  transform: translateX(-10px);
}
.slick-arrow.style1.next-arrow:hover svg {
  transform: translateX(10px);
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.slick-dots li:not(:last-of-type) {
  margin-right: 7px;
}
.slick-dots li button {
  font-size: 0px;
  width: 9px;
  height: 9px;
  background: #AEAEAE;
  border: none;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.53,-0.62,.42,1.44);
}
.slick-dots li.slick-active button {
  width: 50px;
  background: var(--color1);
}
.no-dots .slick-dots {
  display: none;
}

.site__button {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 292px;;
  height: 49px;
  text-transform: uppercase;
  font-size: 13px;
  overflow: hidden;
  padding: 0 30px;
  z-index: 1;
  letter-spacing: 1.3px;
  transition: all 300ms var(--easing);
}
.site__button:hover {
  color: #ffffff;
}
.site__button .text {
  width: 100%;
  transition: all 300ms var(--easing);
}
.site__button.site__button--arrow .text {
  width: auto;
}
.site__button .icon {
  margin-left: auto;
}
.site__button .icon svg {
  fill: var(--color1);
  transition: all 300ms var(--easing);
}
.site__button:hover svg {
  fill: #ffffff;
}
.site__button:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 100%;
  z-index: -1;
  background: var(--color1);
  transition: all 300ms var(--easing);
}
.site__button:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}
.site__button_style--outlinedark {
  border: 1px solid var(--color1);
}
.site__button_style--outlinelight {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.site__button_style--outlinelight:after {
  background:  #ffffff;
}
.site__button_style--outlinelight:hover {
  color: var(--color1);
}
.textcolor__white .site__button_style--outlinelight:hover,
.textcolor__white .site__button_style--outlinelight:hover span {
  color: var(--color1) !important;
}
.site__button_style--outlinelight .icon svg {
  fill: #ffffff;
}
.site__button_style--outlinelight:hover .icon svg {
  fill: var(--color1);
}
.site__button_style--soliddark {
  background: var(--color1);
  color: #ffffff;
}
.site__button_style--soliddark .icon svg {
  fill: #ffffff;
}
.site__button_style--soliddark:after {
  background: #ffffff;
}
.site__button_style--soliddark:hover {
  color: var(--color1);
}
.site__button_style--soliddark:hover .icon svg {
  fill: var(--color1);
}

.button__slightly-round .site__button {
  border-radius: 6px;
}
.button__rounded .site__button {
  border-radius: 50px;
}

.kustom__icon_wrap svg {
  fill: transparent;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.kustom__icon_wrap.white svg {
  stroke: #ffffff;
}
.kustom__icon_wrap.white.animate__done svg {
  fill: #ffffff;
  stroke: transparent;
  transition: all 300ms var(--easing);
}
.kustom__icon_wrap.grey svg {
  stroke: #D6D6D6;
}
.kustom__icon_wrap.grey.animate__done svg {
  fill: #D6D6D6;
  stroke: transparent;
  transition: all 300ms var(--easing);
}

.slanted__edge {
  position: absolute;
  left:0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: -1;
  transition: all 1000ms var(--easing);
}
.slanted__edge--top {
  top: -1px;
}
.slanted__edge--bottom {
  bottom: -1px;
}
.slanted__edge.slanted__edge--topleft {
  border-width: 225px 100vw 0 0;
}
.slanted__edge.slanted__edge--topleft.to_animate_manual {
  border-width: 0 100vw 0 0;
}
.slanted__edge.slanted__edge--topleft.to_animate_manual.elem_in_viewport {
  border-width: 225px 100vw 0 0;
}

.slanted__edge.slanted__edge--topright {
  border-width: 0 100vw 225px 0;
}
.slanted__edge.slanted__edge--topright.to_animate_manual {
  border-width: 0 100vw 0 0;
}
.slanted__edge.slanted__edge--topright.to_animate_manual.elem_in_viewport {
  border-width: 0 100vw 225px 0;
}

.slanted__edge.slanted__edge--bottomleft {
  border-width: 225px 0 0 100vw;
}
.slanted__edge.slanted__edge--bottomleft.to_animate_manual {
  border-width: 0 0 0 100vw;
}
.slanted__edge.slanted__edge--bottomleft.to_animate_manual.elem_in_viewport {
  border-width: 225px 0 0 100vw;
}

.slanted__edge.slanted__edge--bottomright {
  border-width: 0 0 225px 100vw;
}
.slanted__edge.slanted__edge--bottomright.to_animate_manual {
  border-width: 0 0 0 100vw;
}
.slanted__edge.slanted__edge--bottomright.to_animate_manual.elem_in_viewport {
  border-width: 0 0 225px 100vw;
}

.compSection[data-animate="1"] .to_animate {
  transition: all 700ms var(--easing);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}
.compSection[data-animate="1"] .to_animate.elem_in_viewport {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.section_404page {
  background: var(--color1);
  padding-top: 300px;
  padding-bottom: 200px;
  text-align: center;
}
.section_404page h1,
.section_404page h2 {
  display: block;
  text-align: center;
  width: 100%;
}
.section_404page h1 {
  font-size: 150px;
  letter-spacing: -3px;
  margin-bottom: 30px;
}
.section_404page h1 span {
  color: #ffffff;
}
.section_404page h2 {
  font-size: 46px;
}

.to_parallax_bg {
  overflow: hidden;
}
.animate__infiniterotate {
  animation: infiniterotate 120s infinite linear;
}
@keyframes infiniterotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media all and (max-width: 1820px) {
  .row {
    max-width: none;
    width: calc(100% - 60px)
  }
  .row.row--full {
    width: 100%;
  }
  .slick-arrow {
    width: 80px;
    height: 80px;
  }
  .slick-arrow svg {
    width: 30px;
    height: auto
  }
}
@media all and (max-width: 1499px) {
  section.compSection.compSection_1 {
    padding-top: 230px;
  }
  h1,.h1,.headline__text.h1 {
    font-size: 100px;
  }
  h2,.h2,.headline__text {
    font-size: 60px;
  }
}
@media all and (max-width: 979px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h1,.h1,.headline__text.h1 {
    font-size: 80px;
    letter-spacing: -1.5px;
  }
  h2,.h2,.headline__text {
    font-size: 50px;
    letter-spacing: -1px;
  }
  h3,.h3,.sub__text {
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: -0.75px;
  }

  .scrolldownIcon .icon {
    width: 54px;
    height: 70px;
    margin-bottom: 19px;
  }

  .slanted__edge.slanted__edge--topleft {
    border-width: 15vw 100vw 0 0;
  }
  .slanted__edge.slanted__edge--topleft.to_animate_manual {
    border-width: 0 100vw 0 0;
  }
  .slanted__edge.slanted__edge--topleft.to_animate_manual.elem_in_viewport {
    border-width: 15vw 100vw 0 0;
  }
  
  .slanted__edge.slanted__edge--topright {
    border-width: 0 100vw 15vw 0;
  }
  .slanted__edge.slanted__edge--topright.to_animate_manual {
    border-width: 0 100vw 0 0;
  }
  .slanted__edge.slanted__edge--topright.to_animate_manual.elem_in_viewport {
    border-width: 0 100vw 15vw 0;
  }
  
  .slanted__edge.slanted__edge--bottomleft {
    border-width: 15vw 0 0 100vw;
  }
  .slanted__edge.slanted__edge--bottomleft.to_animate_manual {
    border-width: 0 0 0 100vw;
  }
  .slanted__edge.slanted__edge--bottomleft.to_animate_manual.elem_in_viewport {
    border-width: 15vw 0 0 100vw;
  }
  
  .slanted__edge.slanted__edge--bottomright {
    border-width: 0 0 15vw 100vw;
  }
  .slanted__edge.slanted__edge--bottomright.to_animate_manual {
    border-width: 0 0 0 100vw;
  }
  .slanted__edge.slanted__edge--bottomright.to_animate_manual.elem_in_viewport {
    border-width: 0 0 15vw 100vw;
  }
  .section_404page {
    padding-top: 250px;
    padding-bottom: 150px;
  }
  .section_404page h1 {
    font-size: 100px;
  }
  .section_404page h2 {
    font-size: 40px;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: var(--fontsize-mobile);
  }
  section {
    padding-top: 75px;
    padding-bottom: 75px;
    overflow: hidden;
  }
  .row {
    width: calc(100% - 60px);
  }
  h1,.h1,.headline__text.h1 {
    font-size: 60px;
  }
  h2,.h2,.headline__text {
    font-size: 45px;
    letter-spacing: -1px;
  }
  h3,.h3,.sub__text {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: -0.5px;
  }
  h4,.h4 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  p:not(:last-of-type) {
    padding-bottom: 20px;
  }
  p.empty {
    padding-bottom: 0;
  }
  p, .text__summary {
    line-height: 1.45;
    letter-spacing: 0px;
  }
  ul li {
    line-height: 26px;
  }
  .scrolldownIcon .icon {
    width: 44px;
    height: 60px;
    margin-bottom: 15px;
  }
  .slanted__edge.slanted__edge--topleft {
    border-width: 35vw 100vw 0 0;
  }
  .slanted__edge.slanted__edge--topleft.to_animate_manual {
    border-width: 0 100vw 0 0;
  }
  .slanted__edge.slanted__edge--topleft.to_animate_manual.elem_in_viewport {
    border-width: 35vw 100vw 0 0;
  }
  
  .slanted__edge.slanted__edge--topright {
    border-width: 0 100vw 35vw 0;
  }
  .slanted__edge.slanted__edge--topright.to_animate_manual {
    border-width: 0 100vw 0 0;
  }
  .slanted__edge.slanted__edge--topright.to_animate_manual.elem_in_viewport {
    border-width: 0 100vw 35vw 0;
  }
  
  .slanted__edge.slanted__edge--bottomleft {
    border-width: 35vw 0 0 100vw;
  }
  .slanted__edge.slanted__edge--bottomleft.to_animate_manual {
    border-width: 0 0 0 100vw;
  }
  .slanted__edge.slanted__edge--bottomleft.to_animate_manual.elem_in_viewport {
    border-width: 35vw 0 0 100vw;
  }
  
  .slanted__edge.slanted__edge--bottomright {
    border-width: 0 0 35vw 100vw;
  }
  .slanted__edge.slanted__edge--bottomright.to_animate_manual {
    border-width: 0 0 0 100vw;
  }
  .slanted__edge.slanted__edge--bottomright.to_animate_manual.elem_in_viewport {
    border-width: 0 0 35vw 100vw;
  }
  .section_404page {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .section_404page h1 {
    font-size: 90px;
  }
  .section_404page h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 480px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  section.compSection.compSection_1 {
    padding-top: 186px;
    padding-bottom: 50px;
  }
  section .section__bgimage img {
    transform: none !important;
  }
  section.compSection.section__topedge {
    padding-top: 100px;
  }
  .row {
    width: calc(100% - 40px);
  }
  h1,.h1,.headline__text.h1 {
    font-size: 45px;
    letter-spacing: -1px;
  }
  h2,.h2,.headline__text {
    font-size: 35px;
    letter-spacing: -1.5px;
  }
  h4,.h4 {
    font-size: 20px;
    line-height: 25px;
  }
  h5,.h5 {
    font-size: 22px;
    letter-spacing: -0.25px;
  }
  .site__button {
    min-width: 250px;
    height: 45px;
    font-size: 12px;
    padding: 0 20px;
    letter-spacing: 1.2px;
  }
  ul li {
    padding-left: 30px;
  }
  .to_parallax_scroll,
  .to_parallax_mousemove {
    transform: none !important;
  }
  .slick-dots {
    margin-top: 30px;
  }
  .to_parallax_bg img {
    transform: none !important;
  }

  .scrolldownIcon .icon {
    width: 34px;
    height: 50px;
    margin-bottom: 15px;
  }

  .slanted__edge.slanted__edge--topleft {
    border-width: 30vw 100vw 0 0 !important;
  }
  
  .slanted__edge.slanted__edge--topright {
    border-width: 0 100vw 30vw 0 !important;
  }
  
  .slanted__edge.slanted__edge--bottomleft {
    border-width: 30vw 0 0 100vw !important;
  }
  
  .slanted__edge.slanted__edge--bottomright {
    border-width: 0 0 30vw 100vw !important;
  }

  .section_404page {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .section_404page h1 {
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
  .section_404page h2 {
    font-size: 24px;
  }
}



/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 37px;
  background: var(--color1);
  height: 173px;
  transition: all 500ms var(--easing);
}
header.sticky {
  position: fixed;
}
header.sticky.sticky__done {
  padding-top: 51px;
  height: 113px;
}
header .row {
  align-items: flex-start;
}
header .site__logo {
  width: 224px;
  transition: all 500ms var(--easing);
}
header .site__logo .logo__wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 240px;
  overflow: hidden;
  max-height: 240px;
  transition: all 500ms var(--easing);
}
header.sticky.sticky__done .site__logo .logo__wrap {
  max-height: 18px;
}
header .site__logo .logo__wrap img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}
header nav .nav__menu,
header .cta__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 16px;
  transition: all 500ms var(--easing);
}
header.sticky.sticky__done nav .nav__menu,
header.sticky.sticky__done .cta__wrapper {
  margin-top: 2px;
}
header .cta__wrapper {
  margin-top: 5px;
}
header.sticky.sticky__done .cta__wrapper {
  margin-top: -9px;
}
header nav .nav__menu {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 142px;
}
header nav .nav__menu li a {
  color: #ffffff;
}
header nav .nav__menu li:not(:last-of-type) {
  margin-right: 71px;
}
header .cta__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}
header .cta__wrapper .phone {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  transition: all 500ms var(--easing);
}
header .cta__wrapper .phone .icon {
  margin-right: 14px;
}
header .cta__wrapper .phone .icon svg {
  fill: #ffffff;
}
header .cta__wrapper .site__button {
  height: 36px;
  font-size: 14px;
  text-transform: initial;
  min-width: 140px;
  margin-left: 47px;
  letter-spacing: 0;
}
.burgermenu__toggle {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  position: relative;
  margin-left: 40px;
  display: none;
}
.burgermenu__toggle > span {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: all 300ms 500ms var(--easing);
}
.burgermenu__toggle > span.line1 {
  top: -10px;
}
.burgermenu__toggle > span.line2 {
  top: 10px;
  width: 80%
}
body.flyoutmenu__open .burgermenu__toggle > span.line1 {
  width: 80%;
}
body.flyoutmenu__open .burgermenu__toggle > span.line2 {
  width: 100%;
}
@media all and (max-width: 1820px) {
  header nav .nav__menu {
    margin-left: 7vw;
  }
  header nav .nav__menu li:not(:last-of-type) {
    margin-right: 4vw;
  }
}
@media all and (max-width: 1499px) {
  header {
    height: 140px;
  }
  header .site__logo {
    width: 170px;
  }
  header .site__logo .logo__wrap {
    height: 182px;
    max-height: 182px;
  }
  header nav .nav__menu {
    margin-left: 5vw;
  }
  header nav .nav__menu li:not(:last-of-type) {
    margin-right: 3vw;
  }
  header .cta__wrapper .site__button {
    margin-left: 2.5vw;
    letter-spacing: 0;
  }
}
@media all and (max-width: 1299px) {
  header {
    padding-top: 30px;
  }
  header.sticky.sticky__done {
    padding-top: 40px;
    height: 100px;
  }
  header nav {
    display: none;
  }
  .burgermenu__toggle {
    display: block;
  }
}
@media all and (max-width: 979px) {
  header .cta__wrapper .site__button {
    margin-left: 30px;
  }
  .burgermenu__toggle {
    margin-left: 30px;
  }
}
@media all and (max-width: 767px) {
  header {
    height: 120px;
  }
  header.sticky.sticky__done {
    padding-top: 30px;
    height: 85px;
  }
  header .site__logo {
    width: 150px;
  }
  header .site__logo .logo__wrap {
    height: 160px;
    max-height: 160px;
  }
  header .cta__wrapper {
    margin-top: 0;
  }
  header.sticky.sticky__done .cta__wrapper {
    margin-top: 4px;
  }
  header .cta__wrapper .site__button {
    display: none;
  }
  .burgermenu__toggle {
    height: 20px;
  }
}
@media all and (max-width: 480px) {
  header {
    padding-top: 20px;
    height: 24vw;
  }
  header.sticky.sticky__done {
    padding-top: 20px;
    height: 65px;
  }
  header .site__logo {
    width: 28vw;
  }
  header.sticky.sticky__done .site__logo {
    width: 40vw;
  }
  header .site__logo .logo__wrap {
    height: 30vw;
    max-height: 30vw;
  }
  header .cta__wrapper {
    align-items: flex-start;
  }
  header.sticky.sticky__done .cta__wrapper {
    margin-top: 0px;
  }
  header .cta__wrapper .phone {
    font-size: 14px;
    margin-top: 4px;
  }
  header .cta__wrapper .phone .icon {
    margin-right: 5px;
  }
  .burgermenu__toggle {
    width: 35px;
    margin-left: 18px;
  }
}


/* FLYOUT MENU */
.burgermenu {
  display: none;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 10000;
  background: #ffffff;
  width: 300px;
  height: 100%;
  overflow: hidden;
  transition: all 500ms var(--easing);
}
.burgermenu .outer__wrap {
  padding: 50px 0;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(-30px);
  transition: all 300ms 500ms var(--easing);
}
.burgermenu .menu__wrap {
  margin-bottom: 20px;
}
.burgermenu .nav__menu li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  display: block;
  line-height: 1;
  padding: 15px 30px;
  transition: all 300ms var(--easing);
}
.burgermenu .nav__menu li a:hover {
  background: var(--color2);
  padding: 20px 30px 20px 40px;
}
.burgermenu .site__button {
  min-width: auto;
  width: calc(100% - 60px);
  margin: auto;
}
body.flyoutmenu__open header {
  left: -300px;
}
body.flyoutmenu__open .burgermenu {
  right: 0;
}
body.flyoutmenu__open .burgermenu .outer__wrap {
  opacity: 1;
  transform: translateX(0);
}
body.flyoutmenu__open #beforemain_wrap {
  left: -300px;
}
body.flyoutmenu__open #beforemain_wrap:after {
  opacity: 0.7;
  visibility: visible;
}
@media all and (max-width: 1299px) {
  .burgermenu {
    display: block;
  }
}
@media all and (max-width: 480px) {
  .burgermenu {
    width: 250px;
    right: -250px;
  }
  body.flyoutmenu__open #beforemain_wrap {
    left: -250px;
  }
  body.flyoutmenu__open header {
    left: -250px;
  }
}




/* HOME HERO 1 */
.comp_home_hero_1 {
  height: 1150px;
}
.comp_home_hero_1 .data__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 196px;
  max-width: 1025px;
}
.comp_home_hero_1 .headline__text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.comp_home_hero_1 .headline__text span {
  width: 100%;
  display: block;
  margin-left: 257px;
  transition: all 2500ms var(--easing);
}
.comp_home_hero_1 .to_animate_manual .headline__text {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1200ms var(--easing);
}
.comp_home_hero_1 .to_animate_manual .headline__text span {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1200ms 200ms var(--easing);
}
.comp_home_hero_1 .to_animate_manual.elem_in_viewport .headline__text {
  opacity: 1;
  transform: translateX(0px);
}
.comp_home_hero_1 .to_animate_manual.elem_in_viewport .headline__text span {
  opacity: 1;
  transform: translateX(0px);
}
.comp_home_hero_1 .text__summary {
  width: 100%;
  display: block;
  margin-top: 22px;
  font-size: 20px;
  letter-spacing: -1px;
}
.comp_home_hero_1 .site__button {
  margin-left: 257px;
  margin-top: 52px;
  min-width: 244px;
}
.comp_home_hero_1 .text__summary,
.comp_home_hero_1 .site__button {
  margin-left: 257px;
}
.comp_home_hero_1 .scrolldownIcon {
  position: absolute;
  bottom: -3px;
}
@media all and (max-width: 1499px) {
  .comp_home_hero_1 {
    height: 65vw;
  }
  .comp_home_hero_1 .data__wrap {
    margin-top: 12vw;
    max-width: 58vw;
/*     background: red; */
  }
  .comp_home_hero_1 .headline__text {
    font-size: 7vw;
    letter-spacing: -0.1vw;
  }
  .comp_home_hero_1 .headline__text span {
    margin-left: 17vw;
  }
  .comp_home_hero_1 .text__summary,
  .comp_home_hero_1 .site__button {
    margin-left: 17vw;
  }
}
@media all and (max-width: 1299px) {
  .comp_home_hero_1 {
    height: 75vw;
  }
  .comp_home_hero_1 .data__wrap {
    margin-top: 15vw;
    max-width: 62vw;
  }
  .comp_home_hero_1 .headline__text {
    font-size: 8vw;
    letter-spacing: -0.1vw;
  }
  .comp_home_hero_1 .site__button {
    margin-top: 40px;
  }
}
@media all and (max-width: 979px) {
  .comp_home_hero_1 {
    height: 85vw;
  }
}
@media all and (max-width: 767px) {
  .comp_home_hero_1 {
    height: auto;
    padding-bottom: 75px;
  }
  .comp_home_hero_1 .row {
    flex-direction: column;
  }
  .comp_home_hero_1 .data__wrap {
    margin-top: 100px;
    max-width: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
  }
  .comp_home_hero_1 .headline__text {
    display: block;
    font-size: 12vw;
    letter-spacing: 0px;
    text-align: center;
    margin-left: -30px;
  }
  .comp_home_hero_1 .headline__text span {
    margin-left: 80px;
  }
  .comp_home_hero_1 .to_animate_manual .headline__text span {
    transform: translateX(-20px);
  }
  .comp_home_hero_1 .text__summary,
  .comp_home_hero_1 .site__button {
    text-align: center;
  }
  .comp_home_hero_1 .text__summary {
    margin: 50px auto 0;
    max-width: 360px;
  }
  .comp_home_hero_1 .site__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .comp_home_hero_1 .scrolldownIcon {
    position: relative;
    margin-top: 120px;
  }
}
@media all and (max-width: 480px) {
  .comp_home_hero_1 .data__wrap {
    margin-top: 20vw;
  }
  .comp_home_hero_1 .headline__text {
    font-size: 12vw;
    margin-left: -30px;
    letter-spacing: -0.5px;
    line-height: 1.1;
  }
  .comp_home_hero_1 .headline__text span {
    margin-left: 60px;
  }
  .comp_home_hero_1 .text__summary {
    margin: 30px auto 0;
  }
  .comp_home_hero_1 .site__button {
    min-width: 225px;
  }
  .comp_home_hero_1 .scrolldownIcon {
    margin-top: 25vw;
  }
}

/* TEXT IMAGE LAYOUT 1 */
.comp_text_image_layout_1 .column__left {
  width: 420px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.comp_text_image_layout_1 .column__left .headline__text {
  margin-bottom: 50px;
}
.comp_text_image_layout_1 .column__left .text__summary {
  margin-top: auto;
}
.comp_text_image_layout_1 .column__left .site__button {
  width: fit-content;
  margin-top: 75px;
}
.comp_text_image_layout_1 .column__right {
  position: relative;
  width: calc(100% - 596px);
  margin-left: auto;
}
.comp_text_image_layout_1 .column__right .img__wrap {
  display: flex;
  margin-left: auto;
  width: 864px;
  height: 948px;
}
.comp_text_image_layout_1 .column__right .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp_text_image_layout_1 .kustom__icon_wrap {
  position: absolute;
  width: 605px;
  height: 526px;
  top: 155px;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}
@media all and (max-width: 1820px) {
  .comp_text_image_layout_1 .kustom__icon_wrap {
    width: 33vw;
    height: 28.7vw;
    top: 0;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 45vw;
    height: 55vw;
  }
}
@media all and (max-width: 1399px) {
  .comp_text_image_layout_1 .column__right {
    width: calc(100% - 420px);
  }
  .comp_text_image_layout_1 .kustom__icon_wrap {
    width: 28vw;
    height: 24vw;
    left: 5vw;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 40vw;
  }
}
@media all and (max-width: 979px) {
  .comp_text_image_layout_1 .column__left {
    width: 40%;
    padding-top: 0px;
  }
  .comp_text_image_layout_1 .column__left .site__button {
    margin-top: 30px;
  }
  .comp_text_image_layout_1 .column__right {
    width: 60%;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 40vw;
    height: 65vw;
  }
}
@media all and (max-width: 767px) {
  .comp_text_image_layout_1 .column__left {
    width: 100%;
    margin-bottom: 50px;
  }
  .comp_text_image_layout_1 .column__right {
    width: 100%;
  }
  .comp_text_image_layout_1 .kustom__icon_wrap {
    width: 45vw;
    height: 40vw;
    left: 0;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 70%;
    height: 85vw;
  }
}
@media all and (max-width: 480px) {
  .comp_text_image_layout_1 .column__left {
    text-align: center;
  }
  .comp_text_image_layout_1 .column__left .headline__text {
    margin-bottom: 30px;
  }
  .comp_text_image_layout_1 .column__left .site__button {
    margin-left: auto;
    margin-right: auto;
  }
}

/* SERVICES CAROUSEL */
.comp_our_services_carousel .row--heading .kustom__icon_wrap {
  width: 332px;
  height: 289px;
}
.comp_our_services_carousel .row--heading .content {
  width:  calc(100% - 595px);
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.comp_our_services_carousel .row--heading .content .headline__text {
  width: calc(50% - 15px);
}
.comp_our_services_carousel .row--heading .content > span {
  margin-left: auto;
  width: calc(50% - 15px);
}
.comp_our_services_carousel .row--heading .content .site__button {
  width: fit-content;
  margin-top: 56px;
}
.comp_our_services_carousel .row--carousel {
  margin-top: 173px;
  margin-bottom: 95px;
}
.comp_our_services_carousel .row--carousel .slick-arrow {
  position: absolute;
  bottom: -79px;
  left: 0;
  z-index: 100;
}
.comp_our_services_carousel .row--carousel .slick-arrow.next-arrow {
  right: 0;
  left: auto;
}
.comp_our_services_carousel .row--carousel .slick-slider {
  overflow: hidden;
}
.comp_our_services_carousel .row--carousel .slick-list {
  margin-right: -30px;
}
.comp_our_services_carousel .row--carousel .item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.comp_our_services_carousel .row--carousel .item .name {
  position: relative;
  padding-left: 67px;
  padding-right: 120px;
  margin-bottom: 43px;
}
.comp_our_services_carousel .row--carousel .item .number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  letter-spacing: 1.3px;
}
.comp_our_services_carousel .row--carousel .item .img__wrap {
  position: relative;
  width: 100%;
  height: 540px;
  overflow: hidden;
  margin-top: auto;
}
.comp_our_services_carousel .row--carousel .item .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms var(--easing);
}
.comp_our_services_carousel .row--carousel .item:hover .img__wrap img {
  transform: scale(1.05);
  transition: all 300ms 300ms var(--easing);
}
.comp_our_services_carousel .row--carousel .item .img__wrap a {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  transform: scale(0.8);
  opacity: 0;
  transition: all 300ms var(--easing);
}
.comp_our_services_carousel .row--carousel .item:hover .img__wrap a {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms 300ms var(--easing);
}

/* USPS */
.comp_usps .usps__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.comp_usps .usps__wrapper .item {
  width: calc(25% - 24px);
  margin-right: 32px;
}
.comp_usps .usps__wrapper .item:nth-child(4n) {
  margin-right: 0;
}
.comp_usps .usps__wrapper .item .icon_wrap {
  display: flex;
  width: 60px;
  height: 60px;
  margin-bottom: 81px;
}
.comp_usps .usps__wrapper .item .icon_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}
.comp_usps .usps__wrapper .item .usp__title {
  margin-bottom: 77px;
}
.comp_usps .usps__wrapper .item .usp__summary {
  max-width: 300px;
}

/* ROOM VISUALIZATION */
.comp_room_visualization_section {
  padding: 0;
}
.comp_room_visualization_section .column__left,
.comp_room_visualization_section .column__right {
  width: 50%;
}
.comp_room_visualization_section .column__left {
  padding: 163px 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.comp_room_visualization_section .column__left .headline__text,
.comp_room_visualization_section .column__left .text__summary {
  color: #ffffff;
  max-width: 416px;
}
.comp_room_visualization_section .column__left .headline__text {
  margin-bottom: 35px;
}
.comp_room_visualization_section .column__left .site__button {
  margin-top: auto;
  width: fit-content;
}
.comp_room_visualization_section .column__right {
  position: relative;
}
.comp_room_visualization_section .column__right .changeFloorBtn {
  position: absolute;
  width: 165px;
  height: 165px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background: #ffffff;
  color: var(--color1);
  outline: none;
  border: none;
  padding: 0 40px;
  z-index: 1;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: all 300ms var(--easing);
}
.comp_room_visualization_section .column__right.toggled .changeFloorBtn {
  background: var(--color1);
  color: #ffffff;
}
.comp_room_visualization_section .column__right .img__wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 989px;
  z-index: 0;
}
.comp_room_visualization_section .column__right .img__wrap img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: all 300ms var(--easing);
}
.comp_room_visualization_section .column__right .img__wrap img.hover {
  z-index: 1;
}
.comp_room_visualization_section .column__right .img__wrap img.hover {
  opacity: 0;
  visibility: hidden;
}
.comp_room_visualization_section .column__right.toggled .img__wrap img.hover {
  opacity: 1;
  visibility: visible;
}

/* INTERNAL HERO SECTION */
.comp_internal_hero_section {
  height: 1162px;
}
.comp_internal_hero_section .row {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.comp_internal_hero_section .data__wrap {
  max-width: 1024px;
  text-align: center;
  margin-top: 55px;
}
.comp_internal_hero_section .data__wrap .text__summary {
  margin-top: 20px;
}
.comp_internal_hero_section .data__wrap .site__button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  min-width: 244px;
}
.comp_internal_hero_section .scrolldownIcon {
  margin-top: 115px;
}
@media all and (max-width:1820px) {
  .comp_internal_hero_section {
    height: 60vw;
  }
}
@media all and (max-width:1499px) {
  .comp_internal_hero_section .scrolldownIcon {
    margin-top: 5vw;
  }
}
@media all and (max-width:1299px) {
  .comp_internal_hero_section {
    height: 75vw;
  }
  .comp_internal_hero_section .scrolldownIcon {
    margin-top: 10vw;
  }
}
@media all and (max-width:979px) {
  .comp_internal_hero_section {
    height: 100vw;
  }
}
@media all and (max-width:767px) {
  .comp_internal_hero_section {
    height: auto;
  }
}
@media all and (max-width:480px) {
  .comp_internal_hero_section {
    height: auto;
  }
  .comp_internal_hero_section .data__wrap .site__button {
    min-width: 225px;
    margin-top: 20px;
  }
  .comp_internal_hero_section .scrolldownIcon {
    margin-top: 15vw;
  }
}

/* PRODUCT FILTER */
.comp_product_filter {
  padding-top: 70px;
}
.comp_product_filter .ajaxloader {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 10000;
  opacity: 0.75;
  display: none;
}
.comp_product_filter .ajaxloader.loading {
  display: block;
}
.product__filter_wrap.row--filter__wrapper {
  background: #ffffff;
  padding-top: 50px;
}
.product__filter_wrap.row--filter__wrapper.fixed {
  position: fixed;
  top: 113px;
  left:  0;
  right: 0;
  width: 100%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  transition: all 500ms 100ms var(--easing);
}
.product__filter_wrap.row--filter__wrapper.hideFilter.fixed {
  padding-top: 0;
}
.product__filter_wrap.row--filter__wrapper.fixed .secondary__filter_wrap,
.product__filter_wrap.row--filter__wrapper.fixed .primary__filter {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
.product__filter_wrap.row--filter__wrapper.fixed .primary__filter,
.product__filter_wrap.row--filter__wrapper.fixed.hideFilter .primary__filter{
  padding-top: 30px;
  padding-bottom: 30px;
}
.product__filter_wrap .secondary__filter_wrap {
  width: 100%;
  border-bottom: 1px solid var(--color1);
  padding-bottom: 50px;
  overflow: hidden;
  max-height: 500px;
  opacity: 1;
  transition: all 500ms 100ms var(--easing);
}
.product__filter_wrap.row--filter__wrapper.hideFilter .secondary__filter_wrap {
  max-height: 0;
  padding-bottom: 0;
  opacity: 0;
  border-color: transparent;
}
.product__filter_wrap .secondary__filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color1);
  border-left: 1px solid var(--color1);
  position: relative;
}
.product__filter_wrap .filter__box {
  width: 33.33%;
  border-bottom: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
  padding: 20px 30px 17px 18px;
  display: flex;
  flex-wrap: wrap;
}
.product__filter_wrap .filter__box label.label {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 20px
}
.product__filter_wrap .filter__box input[type="text"] {
  width: 100%;
  padding: 0;
  font-size: 20px;
  letter-spacing: -0.5px;
  border: none;
  outline: none;
  height: 20px;
}
.product__filter_wrap .filter__box .data__result {
  width: 40%;
}
.product__filter_wrap .filter__box .data__options {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.product__filter_wrap .filter__box .data__result > span  {
  font-size: 20px;
  letter-spacing: -0.5px;
  display: block;
}
.product__filter_wrap .filter__box .data__options > label {
  position: relative;
  cursor: pointer;
}
.product__filter_wrap .filter__box .data__options > label:not(:first-of-type) {
  margin-left: 7px;
}
.product__filter_wrap .filter__box .data__options input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.product__filter_wrap .filter__box .data__options .img__wrap {
  width: 46px;
  height: 46px;
  display: flex;
}
.product__filter_wrap .filter__box .data__options .img__wrap:after {
  position: absolute;
  content: "";
  bottom: 5px;
  right: 0;
  width: 16px;
  height: 16px;
  background: url(/wp-content/uploads/2023/01/toggle-check-icon.png) no-repeat center;
  background-size: contain;
  display: none;
}
.product__filter_wrap .filter__box .data__options input:checked + .img__wrap:after {
  display: block;
}
.product__filter_wrap .filter__box .data__options .img__wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.product__filter_wrap .filter__box.filter__box--select {
  position: relative;
}
.product__filter_wrap .filter__box.filter__box--select .data__result {
  width: 100%;
}
.product__filter_wrap .filter__box.filter__box--select .data__result select {
  display: block;
  width: 100%;
  font-size: 20px;
  letter-spacing: -0.5px;
  font-family: var(--fontfamily);
  padding: 0;
  border: none;
  outline: none;
  background: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.product__filter_wrap .filter__box.filter__box--select .data__result select option {
  font-size: 16px;
}
.product__filter_wrap .filter__box.filter__box--select .img__wrap {
  max-width: 93px;
  max-height: 50px;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}
.product__filter_wrap .filter__box.filter__box--select .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__filter_wrap .primary__filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;
  transition: all 500ms 100ms var(--easing);
}
.product__filter_wrap.row--filter__wrapper.hideFilter .primary__filter {
  padding-top: 0;
}
.product__filter_wrap .primary__filter .nav__wrap .mobile__toggle {
  display: none;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid var(--color1);
  height: 40px;
  text-align: left;
  padding: 0 0 0 15px;
  font-size: 18px;
  color: var(--color1);
}
.product__filter_wrap .primary__filter .nav__wrap .mobile__toggle:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: 20px;
  height: 20px;
  background: url(/wp-content/uploads/2023/01/down-arrow.png) no-repeat center;
  background-size: contain;
}
.product__filter_wrap .primary__filter .nav__wrap .range__nav {
  display: flex;
  align-items: center;
}
.product__filter_wrap .primary__filter .nav__wrap .range__nav li {
  padding-left: 0;
  line-height: 1;
}
.product__filter_wrap .primary__filter .nav__wrap .range__nav li:not(:last-of-type) {
  margin-right: 100px;
}
.product__filter_wrap .primary__filter .nav__wrap .range__nav li:before {
  display: none;
}
.product__filter_wrap .primary__filter .nav__wrap .range__nav li a {
  font-size: 20px;
  display: block;
  letter-spacing: -0.5px;
  color: #BBBBBB;
  cursor: pointer;
}
.product__filter_wrap .primary__filter .nav__wrap .range__nav li.active a {
  color: var(--color1);
  pointer-events: none;
}
.product__filter_wrap .primary__filter .buttons__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-right: 110px;
  padding: 0;
  cursor: pointer;
}
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon {
  position: relative;
  margin-right: 20px;
  display: flex;
  width: 25px;
  height: 20px;
}
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon:before,
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--color1);
  width: 100%;
  height: 2px;
  transform: rotate(45deg);
}
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon:after {
  transform: rotate(-45deg);
}
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}
.product__filter_wrap .primary__filter .buttons__wrap .hide__filters .text {
  margin-top: 5px;
}
.product__filter_wrap.row--filter__wrapper.hideFilter .primary__filter .buttons__wrap .hide__filters .icon img {
  display: block;
}
.product__filter_wrap.row--filter__wrapper.hideFilter .primary__filter .buttons__wrap .hide__filters .icon:before,
.product__filter_wrap.row--filter__wrapper.hideFilter .primary__filter .buttons__wrap .hide__filters .icon:after {
  display: none;
}

.comp_product_filter .row--productlist {
  padding-top: 143px;
}
.comp_product_filter .row--productlist .headline__text {
  display: block;
  width: 100%;
  text-align: center;
}
.comp_product_filter #productListContainer {
  margin-top: 120px;
  display: grid;
  width: 100%;
  min-height: 500px;
  justify-items: center;
  gap: 200px 25px;
  grid-template-columns: repeat( auto-fill, minmax(332px, 1fr) );
}
.comp_product_filter #productListContainer .item {
  width: 298px;
  height: 486px;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
.comp_product_filter #productListContainer .item .flipper {
  -webkit-transition: 400ms;
  -webkit-transition-timing-function: var(--easing);
  -webkit-transform-style: preserve-3d;

  -moz-transition: 400ms;
  -moz-transition-timing-function: var(--easing);
  -moz-transform-style: preserve-3d;

  -o-transition: 400ms;
  -o-transition-timing-function: var(--easing);
  -o-transform-style: preserve-3d;

  transition: 400ms;
  transition-timing-function: var(--easing);
  transform-style: preserve-3d;

  position: relative;
  width: 100%;
  height: 100%;
}
.comp_product_filter #productListContainer .item:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.comp_product_filter #productListContainer .item .front, 
.comp_product_filter #productListContainer .item .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 110px;
  overflow: hidden;
}

.comp_product_filter #productListContainer .item .front img, 
.comp_product_filter #productListContainer .item .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp_product_filter #productListContainer .item .front {
  z-index: 2;
}
.comp_product_filter #productListContainer .item .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.comp_product_filter #productListContainer .item .back a.link-to-post {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 89px;
  height: 89px;
  background: #ffffff;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms var(--easing);
}
.comp_product_filter #productListContainer .item .back a.link-to-post:hover {
  background: var(--color1);
}
.comp_product_filter #productListContainer .item .back a.link-to-post:before,
.comp_product_filter #productListContainer .item .back a.link-to-post:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 2px;
  background: var(--color1);
  transition: all 300ms var(--easing);
}
.comp_product_filter #productListContainer .item .back a.link-to-post:after {
  transform: rotate(90deg);
}
.comp_product_filter #productListContainer .item .back a.link-to-post:hover:before,
.comp_product_filter #productListContainer .item .back a.link-to-post:hover:after {
  background: #ffffff;
}
.comp_product_filter #productListContainer .item .product__name {
  display: block;
  line-height: 1;
  text-align: center;
  font-size: 25px;
  letter-spacing: -0.63px;
  padding-top: 47px;
}
.comp_product_filter #productListContainer .no-results {
  width: 100%;
  text-align: center;
  grid-column: span 4;
}
.comp_product_filter #productListContainer .no-results * {
  opacity: 0.2;
}
@media all and (max-width: 1820px) {
  .product__filter_wrap.row--filter__wrapper.fixed {
    width: calc(100% - 60px);
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li:not(:last-of-type) {
    margin-right: 5vw;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
    margin-right: 5vw;
  }
}
@media all and (max-width: 1499px) {
  .product__filter_wrap .filter__box .data__options .img__wrap {
    width: 35px;
    height: 35px;
  }
  .product__filter_wrap .filter__box .data__result > span,
  .product__filter_wrap .filter__box.filter__box--select .data__result select,
  .product__filter_wrap .filter__box input[type="text"],
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li a,
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
    font-size: 18px;
  }
  .product__filter_wrap .filter__box .data__options .img__wrap:after {
    bottom: 0px;
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li:not(:last-of-type) {
    margin-right: 3vw;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
    margin-right: 3vw;
  }
  .product__filter_wrap.row--filter__wrapper {
    transition: all 500ms 100ms var(--easing);
  }
  .product__filter_wrap.row--filter__wrapper.hideFilter {
    padding-top: 0;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon {
    margin-right: 10px;
    width: 20px;
    height: 15px;
  }

  .comp_product_filter #productListContainer {
    margin-top: 120px;
    gap: 200px 3vw;
    grid-template-columns: repeat( auto-fill, minmax(20vw, 1fr) );
  }
  .comp_product_filter #productListContainer .item {
    width: 100%;
    height: 35vw;
  }
  .comp_product_filter #productListContainer .item .front, 
  .comp_product_filter #productListContainer .item .back {
    border-radius: 7.5vw
  }
}
@media all and (max-width: 1299px) {
  .product__filter_wrap .filter__box {
    padding: 15px;
  }
  .product__filter_wrap .filter__box .data__options .img__wrap {
    width: 30px;
    height: 30px;
  }
  .product__filter_wrap .filter__box .data__options > label:not(:first-of-type) {
    margin-left: 3px;
  }
  .product__filter_wrap .filter__box .data__options .img__wrap:after {
    width: 14px;
    height: 14px;
  }
  .product__filter_wrap .filter__box.filter__box--select .img__wrap {
    right: 15px;
  }
  .product__filter_wrap.row--filter__wrapper.fixed {
    top: 99px;
  }
  .product__filter_wrap .primary__filter {
    padding-top: 30px;
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li:not(:last-of-type) {
    margin-right: 30px;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
    margin-right: 20px;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .site__button {
    min-width: 200px;
    padding: 0 20px
  }
  .product__filter_wrap .primary__filter .buttons__wrap .site__button .icon {
    display: none;
  }
  .comp_product_filter #productListContainer .item .back a.link-to-post {
    width: 70px;
    height: 70px;
  }
  .comp_product_filter #productListContainer .item .back a.link-to-post:before,
  .comp_product_filter #productListContainer .item .back a.link-to-post:after {
    width: 20px;
  }
}
@media all and (max-width: 979px) {
  .comp_product_filter {
    padding-top: 20px;
  }
  .product__filter_wrap.row--filter__wrapper {
    padding-top: 30px;
  }
  .product__filter_wrap.row--filter__wrapper.fixed {
    width: 100%;
    padding: 30px 30px 0;
    box-shadow: 0px 5px 15px #0000001a;
  }
  .product__filter_wrap .secondary__filter_wrap {
    padding-bottom: 0;
    border-bottom: none;
  }
  .product__filter_wrap .filter__box {
    width: 50%;
  }
  .product__filter_wrap .filter__box.filter__box--select .img__wrap {
    max-width: 70px;
    max-height: 40px;
  }
  .product__filter_wrap .primary__filter,
  .product__filter_wrap.row--filter__wrapper.fixed .primary__filter,
  .product__filter_wrap.row--filter__wrapper.fixed.hideFilter .primary__filter{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .product__filter_wrap .primary__filter .nav__wrap {
    width: 40%;
    position: relative;
  }
  .product__filter_wrap .primary__filter .nav__wrap .mobile__toggle {
    display: block;
    width: 100%;
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav {
    position: absolute;
    flex-direction: column;
    width: 100%;
    bottom: -100%;
    opacity: 0;
    padding: 10px 0;
    background: #ffffff;
    z-index: 1;
    box-shadow: 0px 10px 40px -20px #0000004d;
    visibility: hidden;
    transform: scale(0.9);
    transition: all 200ms 100ms var(--easing);
  }
  .product__filter_wrap .primary__filter .nav__wrap.showOptions .range__nav {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .product__filter_wrap.hideFilter .primary__filter .nav__wrap.showOptions .range__nav {
    top: 0;
    bottom: auto;
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li {
    margin-right: 0 !important;
    width: 100%;
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li a {
    display: block;
    width: 100%;
    padding: 7px 15px;
  }
  .product__filter_wrap .primary__filter .nav__wrap .range__nav li.active a {
    background: var(--color2);
    color: var(--color1);
  }
  .product__filter_wrap .primary__filter .buttons__wrap {
    width: calc(60% - 20px);
    margin-left: auto;
    justify-content: flex-end;
  }

  .comp_product_filter .row--productlist {
    padding-top: 100px;
  }
  .comp_product_filter #productListContainer {
    margin-top: 60px;
    gap: 15vw 4vw;
    grid-template-columns: repeat( auto-fill, minmax(22vw, 1fr) );
  }
  .comp_product_filter #productListContainer .item {
    width: 100%;
    height: 45vw;
  }
  .comp_product_filter #productListContainer .item .front, 
  .comp_product_filter #productListContainer .item .back {
    border-radius: 10.5vw;
  }
  .comp_product_filter #productListContainer .item .product__name {
    font-size: 2.6vw;
    letter-spacing: -0.08vw;
    padding-top: 25px;
  }
}
@media all and (max-width: 767px) {
  .product__filter_wrap .filter__box .data__result > span,
  .product__filter_wrap .filter__box.filter__box--select .data__result select,
  .product__filter_wrap .filter__box input[type="text"] {
    font-size: 16px;
  }
  .product__filter_wrap .filter__box .data__options .img__wrap {
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }
  .product__filter_wrap.row--filter__wrapper.fixed {
    top: 84px;
  }
  .product__filter_wrap .primary__filter .nav__wrap {
    width: 250px;
  }
  .product__filter_wrap .primary__filter .buttons__wrap {
    width: calc(100% - 250px);
    padding-left: 20px;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
    margin-right: 0;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .site__button {
    display: none;
  }
  .product__filter_wrap.row--filter__wrapper.fixed.hideFilter .primary__filter {
    padding: 20px 0;
  }
  .product__filter_wrap .primary__filter .nav__wrap .mobile__toggle {
    height: 35px;
    font-size: 16px;
  }
  .product__filter_wrap .primary__filter .nav__wrap .mobile__toggle:after {
    width: 16px;
    height: 16px;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters .icon {
    margin-right: 10px;
    width: 18px;
    height: 13px;
  }
  .product__filter_wrap .primary__filter .buttons__wrap .hide__filters {
    font-size: 16px;
  }

  .comp_product_filter .row--productlist {
    padding-top: 75px;
  }
  .comp_product_filter #productListContainer {
    gap: 13vw 4vw;
  }
  .comp_product_filter #productListContainer .item {
    height: 50vw;
  }
  .comp_product_filter #productListContainer .item .product__name {
    font-size: 3vw;
    padding-top: 20px;
  }
}
@media all and (max-width: 480px) {
  .product__filter_wrap.row--filter__wrapper {
    width: 100%;
    padding: 15px 15px 0;
  }
  .product__filter_wrap.row--filter__wrapper.fixed {
    top: 64px;
    padding: 15px 15px 0;
  }
  .product__filter_wrap .filter__box {
    width: 100%;
    padding: 15px 10px
  }
  .product__filter_wrap .filter__box label.label {
    margin-bottom: 10px;
  }
  .product__filter_wrap.row--filter__wrapper.fixed.hideFilter .primary__filter {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .product__filter_wrap .primary__filter .nav__wrap {
    width: 50%;
  }
  .product__filter_wrap .primary__filter .buttons__wrap {
    width: 50%;
  }
  .comp_product_filter .row--productlist {
    padding-top: 50px;
  }
  .comp_product_filter #productListContainer {
    margin-top: 35px;
    gap: 70px 6vw;
    grid-template-columns: repeat( auto-fill, minmax(28vw, 1fr) );
  }
  .comp_product_filter #productListContainer .item {
    height: 70vw;
  }
  .comp_product_filter #productListContainer .item .product__name {
    font-size: 18px;
    padding-top: 15px;
  }
  .comp_product_filter #productListContainer .item .front, 
  .comp_product_filter #productListContainer .item .back {
    border-radius: 16vw;
  }
  .comp_product_filter #productListContainer .item .back a.link-to-post {
    width: 15vw;
    height: 15vw;
  }
  .comp_product_filter #productListContainer .item .back a.link-to-post:before,
  .comp_product_filter #productListContainer .item .back a.link-to-post:after {
    width: 4.2vw;
  }
}
@media all and (max-height: 560px) {
  .product__filter_wrap.row--filter__wrapper {
    flex-direction: column;
  }
  .product__filter_wrap.row--filter__wrapper.fixed .secondary__filter_wrap {
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
  }
  .product__filter_wrap.row--filter__wrapper.fixed.hideFilter .secondary__filter_wrap {
    max-height: 0;
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  20%  { transform:translate(0,0px); opacity: 1;  }
  80%  { transform:translate(0,0px); opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  20%  { transform:translate(0,0px); opacity: 1;  }
  80%  { transform:translate(0,0px); opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  20%  { transform:translate(0,0px); opacity: 1;  }
  80%  { transform:translate(0,0px); opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}