/* TEXT IMAGE LAYOUT 1 */
.comp_text_image_layout_1 .column__left {
  width: 420px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.comp_text_image_layout_1 .column__left .headline__text {
  margin-bottom: 50px;
}
.comp_text_image_layout_1 .column__left .text__summary {
  margin-top: auto;
}
.comp_text_image_layout_1 .column__left .site__button {
  width: fit-content;
  margin-top: 75px;
}
.comp_text_image_layout_1 .column__right {
  position: relative;
  width: calc(100% - 596px);
  margin-left: auto;
}
.comp_text_image_layout_1 .column__right .img__wrap {
  display: flex;
  margin-left: auto;
  width: 864px;
  height: 948px;
}
.comp_text_image_layout_1 .column__right .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp_text_image_layout_1 .kustom__icon_wrap {
  position: absolute;
  width: 605px;
  height: 526px;
  top: 155px;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}
@media all and (max-width: 1820px) {
  .comp_text_image_layout_1 .kustom__icon_wrap {
    width: 33vw;
    height: 28.7vw;
    top: 0;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 45vw;
    height: 55vw;
  }
}
@media all and (max-width: 1399px) {
  .comp_text_image_layout_1 .column__right {
    width: calc(100% - 420px);
  }
  .comp_text_image_layout_1 .kustom__icon_wrap {
    width: 28vw;
    height: 24vw;
    left: 5vw;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 40vw;
  }
}
@media all and (max-width: 979px) {
  .comp_text_image_layout_1 .column__left {
    width: 40%;
    padding-top: 0px;
  }
  .comp_text_image_layout_1 .column__left .site__button {
    margin-top: 30px;
  }
  .comp_text_image_layout_1 .column__right {
    width: 60%;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 40vw;
    height: 65vw;
  }
}
@media all and (max-width: 767px) {
  .comp_text_image_layout_1 .column__left {
    width: 100%;
    margin-bottom: 50px;
  }
  .comp_text_image_layout_1 .column__right {
    width: 100%;
  }
  .comp_text_image_layout_1 .kustom__icon_wrap {
    width: 45vw;
    height: 40vw;
    left: 0;
  }
  .comp_text_image_layout_1 .column__right .img__wrap {
    width: 70%;
    height: 85vw;
  }
}
@media all and (max-width: 480px) {
  .comp_text_image_layout_1 .column__left {
    text-align: center;
  }
  .comp_text_image_layout_1 .column__left .headline__text {
    margin-bottom: 30px;
  }
  .text__summary .readmore__toggle {
    text-align: center;
  }
  .text__summary .readmore__toggle:after {
    max-width: 80px;
    right: 0;
    margin: auto;
  }
  .comp_text_image_layout_1 .column__left .site__button {
    margin-left: auto;
    margin-right: auto;
  }
}