/* PRODUCT CHILD RELATED PROJECTS */
.comp_product_child_related_projects .row--heading {
  max-width: 768px;
  justify-content: center;
  text-align: center;
}
.comp_product_child_related_projects .row--heading .text__summary {
  margin-top: 30px;
}
.comp_product_child_related_projects .row--heading .site__button {
  margin-top: 30px;
}
.comp_product_child_related_projects .row--projects {
  margin-top: 105px;
}
.comp_product_child_related_projects .project__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.comp_product_child_related_projects .project__wrapper .item {
  width: calc(50% - 15px);
  margin-bottom: 109px;
}
.comp_product_child_related_projects .project__wrapper .item:nth-child(even) {
  margin-left: auto;
}
.comp_product_child_related_projects .project__wrapper .item:nth-last-of-type(-n+2) {
  margin-bottom: 80px;
}
.comp_product_child_related_projects .project__wrapper .item .featured__image {
  width: 100%;
  height: 542px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.comp_product_child_related_projects .project__wrapper .item .featured__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms var(--easing);
}
.comp_product_child_related_projects .project__wrapper .item:hover .featured__image img {
  transform: scale(1.03);
}
.comp_product_child_related_projects .project__wrapper .item .featured__image a {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000;
  opacity: 0;
  transition: all 300ms var(--easing);
}
.comp_product_child_related_projects .project__wrapper .item:hover .featured__image a {
  opacity: 0.2;
}
.comp_product_child_related_projects .project__wrapper .item .data__info {
  width: 100%;
  margin-top: 40px;
}
.comp_product_child_related_projects .project__wrapper .item .data__info .title {
  font-size: 30px;
  display: block;
  letter-spacing: -0.75px;
  margin-bottom: 7px;
}
.comp_product_child_related_projects .project__wrapper .item .data__info a {
  letter-spacing: -0.45px;
}
.comp_product_child_related_projects .project__wrapper .item .data__info a .icon {
  margin-left: 12px;
}
@media all and (max-width: 1599px) {
  .comp_product_child_related_projects .project__wrapper .item .featured__image {
    height: 35vw;
  }
}
@media all and (max-width: 979px) {
  .comp_product_child_related_projects .row--projects {
    margin-top: 75px;
  }
  .comp_product_child_related_projects .project__wrapper .item {
    width: calc(50% - 10px);
    margin-bottom: 50px;
  }
  .comp_product_child_related_projects .project__wrapper .item:nth-last-of-type(-n+2) {
    margin-bottom: 0px;
  }
  .comp_product_child_related_projects .project__wrapper .item .data__info {
    margin-top: 20px;
  }
  .comp_product_child_related_projects .project__wrapper .item .data__info .title {
    font-size: 25px;
    letter-spacing: -0.5px;
  }
}
@media all and (max-width: 767px) {
  .comp_product_child_related_projects .row--projects {
    margin-top: 50px;
  }
  .comp_product_child_related_projects .project__wrapper .item {
    width: calc(50% - 5px);
    margin-bottom: 50px;
  }
  .comp_product_child_related_projects .project__wrapper .item .data__info .title {
    font-size: 20px;
    font-weight: bold;
  }
  .comp_product_child_related_projects .project__wrapper .item .data__info a {
    font-size: 15px;
  }
}
@media all and (max-width: 480px) {
  .comp_product_child_related_projects .row--projects {
    margin-top: 30px;
  }
  .comp_product_child_related_projects .project__wrapper .item {
    width: 100%;
    margin-bottom: 50px;
  }
  .comp_product_child_related_projects .project__wrapper .item:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .comp_product_child_related_projects .project__wrapper .item .featured__image {
    height: 55vw;
  }
  .comp_product_child_related_projects .project__wrapper .item .data__info .title {
    font-size: 24px;
  }
}