/* FAQ SECTION */
.comp_faq_section .row--heading .column__left {
  width: 40%;
}
.comp_faq_section .row--heading .column__right {
  width: 32.2%;
  margin-left: auto;
}
.comp_faq_section .row--faqs {
  margin-top: 126px;
  border-top: 1px solid var(--color1);
}
.comp_faq_section .row--faqs .faq__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid var(--color1);
}
.comp_faq_section .row--faqs .faq__item .title {
  display: block;
  width: 100%;
  font-size: 40px;
  letter-spacing: -1px;
  padding-top: 67px;
  padding-bottom: 69px;
  cursor: pointer;
}
.comp_faq_section .row--faqs .faq__item .title .text {
  width: 85%;
  display: block;
}
.comp_faq_section .row--faqs .faq__item .title .toggle {
  position: absolute;
  top: 65px;
  right: 45px;
  width: 34px;
  height: 34px;
  transition: all 300ms 200ms var(--easing);
}
.comp_faq_section .row--faqs .faq__item.open .title .toggle {
  transform: rotate(90deg);
}
.comp_faq_section .row--faqs .faq__item .title .toggle:before,
.comp_faq_section .row--faqs .faq__item .title .toggle:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2px;
  height: 100%;
  background: var(--color1);
  transition: all 300ms 200ms var(--easing);
}
.comp_faq_section .row--faqs .faq__item .title .toggle:after {
  transform: rotate(90deg);
}
.comp_faq_section .row--faqs .faq__item.open .title .toggle:after {
  opacity: 0;
}
.comp_faq_section .row--faqs .faq__item .body {
  display: block;
  max-height: 0px;
  overflow: hidden;
  padding-left: 50px;
  max-width: 1400px;
  width: calc(100% - 100px);
  font-size: 20px;
  transition: all 500ms var(--easing);
}
.comp_faq_section .row--faqs .faq__item.open .body {
  max-height: 700px;
  padding-bottom: 50px;
}
.comp_faq_section .row--faqs .faq__item .body a {
  color: #0076a9;
  text-decoration: underline;
}
.comp_faq_section .row--faqs .faq__item .body li:before {
  top: 13px;
}
@media all and (max-width: 1299px) {
  .comp_faq_section .row--faqs .faq__item .title {
    font-size: 30px;
    letter-spacing: -1px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .comp_faq_section .row--faqs .faq__item .title .toggle {
    top: 42px;
    right: 30px;
    width: 24px;
    height: 24px;
    transition: all 300ms 200ms var(--easing);
  }
}
@media all and (max-width: 979px) {
  .comp_faq_section .row--heading .column__left {
    width: 50%;
  }
  .comp_faq_section .row--heading .column__right {
    width: 45%;
    margin-left: auto;
  }
  .comp_faq_section .row--faqs {
    margin-top: 75px;
  }
  .comp_faq_section .row--faqs .faq__item .body {
    padding-left: 0px;
    width: calc(100% - 50px);
    font-size: 18px;
  }
}
@media all and (max-width: 767px) {
  .comp_faq_section .row--heading .column__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .comp_faq_section .row--heading .column__right {
    width: 100%;
  }
  .comp_faq_section .row--faqs {
    margin-top: 50px;
  }
  .comp_faq_section .row--faqs .faq__item .title {
    font-size: 25px;
    letter-spacing: -0.5px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .comp_faq_section .row--faqs .faq__item .title .toggle {
    top: 32px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .comp_faq_section .row--faqs .faq__item .body {
    padding-left: 0px;
    width: calc(100% - 50px);
    font-size: 16px;
  }
  .comp_faq_section .row--faqs .faq__item.open .body {
    max-height: 1500px;
    padding-bottom: 30px;
  }
  .comp_faq_section .row--faqs .faq__item .body li:before {
    top: 8px;
  }
}
@media all and (max-width: 480px) {
  .comp_faq_section .row--heading .column__left {
    margin-bottom: 20px;
  }
  .comp_faq_section .row--faqs {
    margin-top: 50px;
  }
  .comp_faq_section .row--faqs {
    margin-top: 30px;
  }
  .comp_faq_section .row--faqs .faq__item .title {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .comp_faq_section .row--faqs .faq__item .title .toggle {
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
    width: 16px;
    height: 16px;
  }
  .comp_faq_section .row--faqs .faq__item .body {
    padding-left: 0px;
    width: 100%;
    font-size: 16px;
  }
  .comp_faq_section .row--faqs .faq__item .body li:before {
    top: 6px;
  }
}