/* INTERNAL HERO SECTION */
.comp_internal_hero_section {
  height: 1162px;
}
.comp_internal_hero_section .row {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.comp_internal_hero_section .data__wrap {
  max-width: 1024px;
  text-align: center;
  margin-top: 55px;
}
.comp_internal_hero_section .data__wrap .text__summary {
  margin-top: 20px;
}
.comp_internal_hero_section .data__wrap .site__button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  min-width: 244px;
}
.comp_internal_hero_section .scrolldownIcon {
  margin-top: 115px;
}
@media all and (max-width:1820px) {
  .comp_internal_hero_section {
    height: 60vw;
  }
}
@media all and (max-width:1499px) {
  .comp_internal_hero_section .scrolldownIcon {
    margin-top: 5vw;
  }
}
@media all and (max-width:1299px) {
  .comp_internal_hero_section {
    height: 75vw;
  }
  .comp_internal_hero_section .scrolldownIcon {
    margin-top: 10vw;
  }
}
@media all and (max-width:979px) {
  .comp_internal_hero_section {
    height: 100vw;
  }
}
@media all and (max-width:767px) {
  .comp_internal_hero_section {
    height: auto;
  }
}
@media all and (max-width:480px) {
  .comp_internal_hero_section {
    height: auto;
  }
  .comp_internal_hero_section .data__wrap .site__button {
    min-width: 225px;
    margin-top: 20px;
  }
  .comp_internal_hero_section .scrolldownIcon {
    margin-top: 15vw;
  }
}